@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 174 100% 29%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 174 100% 29%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  background-color: hsl(var(--background));
  border: 4px solid hsl(var(--primary));
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-container::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: hsl(var(--primary));
}

.timeline-left::after {
  left: -12.5px;
}

@media (max-width: 768px) {
  .timeline-container::before {
    left: 15px;
  }
  .timeline-item {
    width: 100%;
    padding-left: 50px;
    padding-right: 25px;
  }
  .timeline-left, .timeline-right {
    left: 0%;
  }
  .timeline-left::after,
  .timeline-right::after {
    left: 2.5px;
  }
}
